@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "iranSans_light";
  src: url("../public/fonts/IRANSans/IRANSans_Light.ttf");
}
@font-face {
  font-family: "iranSans";
  src: url("../public/fonts/IRANSans/IRANSans.ttf");
}

body {
  font-family: "iranSans";
  font-size: 13px;
}
.sidbar_main::-webkit-scrollbar{
  width: 0;
}

.scrollbar-width::-webkit-scrollbar{
  width: 5px;
}
.scrollbar-width{
  scrollbar-width: thin;
}
.no-select {
  user-select: none; /* برای مرورگرهای مدرن */
  -moz-user-select: none; /* برای Firefox */
  -webkit-user-select: none; /* برای Chrome و Safari */
  -ms-user-select: none; /* برای IE و Edge */
}

.dir_ltr{
  direction: ltr;
}

ul,li{
  list-style-type: none;
}